:root {
    --user_profile_color: #212121;
    --hover_green_color: #8BC34A;
    --background_color: rgb(84, 83, 83);
}

*, *::after, *::before {
    margin: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

button {
    font-family: "Poppins";
}

body {
    background-color: #c6c8ca;
}
/* *************** Header  *************** */

.header {
    width: 100%;
    height: 250px;
    background: linear-gradient(252deg,rgba(29, 76, 184, 1) 0%, rgba(83, 163, 237, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_bookmark {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.logo_container {
    height: 100%;
    width: 30%;
    background-image: url('./Assets/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    transition: all 150ms ease-in;
}

.logo_bookmark a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.line {
    display: inline-block;
    width: 2px;
    height: 25px;
    background-color: var(--background_color);
    margin: 0px 15px;
}

.bookmark_container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
}

.user_profile_btn {
    width: 90%;
    height: 35px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--user_profile_color);
    cursor: pointer;
    color: #fff;
    transition: all 200ms linear;
}

.user_profile_btn svg {
    width: 15px;
    height: 15px;
    transition: all 200ms linear;
}

.user_profile_content {
    position: absolute;
    width: 90%;
    border-radius: 10px;
    background-color: var(--user_profile_color);
    top: 50px;
    padding: 5px 0px;
    visibility: hidden;
    transition: all 200ms linear 200ms;
    opacity: 0;
}

.user_profile_content a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}
.user_profile_content a:last-child {
    margin-bottom: 0px;
}

.search_box {
    margin: 20px;
    width: 40%;
    height: 55px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #81D4FA;
}

.search_form {
    display: block;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.search_btn {
    width: 10%;
    height: 100%;
    border: 0px;
    background-color: rgb(230, 229, 229);
    cursor: pointer;
}

.search_btn svg {
    height: 25px;
    width: 25px;
    
}

.search_term{
    width: 100%;
    outline: 0px;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.advertising {
    color: #fff;
    width: 100%;
    text-align: center;
}

.advertising a {
    text-decoration: none;
    color: #fff;
}

.advertising a:hover{
    color: var(--hover_green_color);
}






/* *************** Main Section  *************** */
.main_content {
    width: 65%;
    height: 700px;
    /* background-color: gray; */
    margin: -15px auto 0px;
    display: flex;
}

.job_result {
    width: 35%;
    height: 100%;
    background-color: #fff;
    border-radius:10px 0px 0px 10px;
    padding: 5px 0px;
    display: block;
}

.job_result_header {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 12px;
    padding: 0px 10px;
}

.job_result_header_right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.job_result_header span, a {
    display: inline-block;
}

.filter_icon svg {
    display: inline-block;
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

.filter_relevant, .filter_recent {
    width: 50%;
    border: 0px;
    border-radius: 5px;
    background-color: var(--background_color);
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    cursor: pointer;
}

.number_of_results {
    font-weight: bold;
}

.job_result_header_end_line {
    display: block;
    width: 22.75%;
    height: 2px;
    background-color: #EFF2F5;
    position: absolute;
}

.job_result_main {
    width: 100%;
    height: 87%;
}

.job_item {
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.job_item_logo_container {
    height: 55px;
    width: 15%;
    background-color: yellowgreen;
    border-radius: 10px;
}

.logo_word {
    width: 100%;
    text-align: center;
    line-height:55px;
    font-weight: bold;
}

.job_item_job_summarized_detail {
    height: 55px;
    width: 80%;
}

.job_item_job_summarized_detail_line_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}
.job_item_job_summarized_detail_line_1 svg {
    width: 15px;
    height: 15px;
    display: inline-block;
    color: #BEC5CE;
}

.job_title {
    font-size: 12px;
    font-weight: bolder;
}

.job_item_job_summarized_detail_line_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_name {
    font-size: 10px;
    font-weight: 10px;
}

.day_ago {
    display: inline-block;
    font-size: 10px;
    margin-right: 2px;
}

.job_item_job_summarized_detail_line_3 {
    width: 100%;
    display: flex;
    align-items: center;
}

.job_item_job_summarized_detail_line_3 path {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.time, .salary, .location {
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.job_item_job_summarized_detail_line_3 svg {
    width: 15px;
    height: 15px;
    color: #BEC5CE;

}



















.job_result_footer {
    width: 100%;
    height: 6%;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 10px;
}

.next_page_btn svg {
    width: 12px;
    height: 12px;
}

.next_page_btn {
    display: flex;
    gap: 4px;
    background-color: #DDE2E6;
    text-align: center;
    padding: 2px 0px;
    text-decoration: none;
    color: #747C82;
    padding: 5px 7px;
    border-radius: 60px;
    font-size: 10px;

}

.job_details_container {
    width: 65%;
    height: 100%;
    background-color: #EFF2F5;
    border-radius:0px 10px 10px 0px;
    display: flex;
    /* padding-right: 10px; */
    align-items: center;
    justify-content: center;
}

.before_uploading {
    width: 42%;
    height: 20%;
    display: none;
}

.before_uploading_header{
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    color: var(--background_color);
    opacity: 0.8;
}

.before_uploading_description {
    text-align: center;
    margin-top: 10px;
    color: var(--background_color);
    font-size: 12px;
     opacity: 0.8;  
}

.after_uploading {
    width: 100%;
    height: 100%;
}

.after_uploading_header {
    width: 100%;
    height: 180px;
    background: linear-gradient(304deg,rgba(100, 65, 165, 1) 0%, rgba(42, 8, 69, 1) 100%);;
    padding-right: 2px;
    position: relative;
    border-radius: 0px 10px 0px 0px;
}

.after_uploading_main {
    width: 90%;
    height: 520px;
    margin: 0px auto;
}

.apply_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    background-color: #1D60BD;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}

.apply_btn svg {
    width: 10px;
    height: 10px;
}

.after_uploading_header_job {
    position: absolute;
    bottom: 0px;
    left: 120px;
}

.after_uploading_header_job_title {
    color: #fff;
}

.after_uploading_header_company {
    color: #fff;
}

.company_badge_container {
    position: absolute;
    width: 50px;
    height: 70px;
    border-radius: 5px;
    background-color: #8BC34A;
    bottom: -20px;
    left: 55px;
}

.company_badge {
    width: 100%;
    line-height: 70px;
    text-align: center;
}

.after_uploading_main_job_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin-top: 10px;
}

.after_uploading_main_job_description_day_bookmark {
    display: flex;
    gap: 3px;
    margin-left: 30px;
    margin-right: 10px;
}

.after_uploading_main_job_description_day_bookmark span{
    display: inline-block;
}

.after_uploading_main_job_description_day_bookmark svg{
    width: 20px;
    height: 20px;
}

.bookmark {
    display: inline-block;
    text-decoration: none;
    color: #b9babb;
}

.description {
    font-size: 12px;
    margin-bottom: 5px;
}

.after_uploading_main_job_description_other svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.skills_container {
    width: 100%;
}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.qualifications, .company_reviews {
    width: 30%;
    height: 85px;
}

.qualifications_items, .company_reviews_items {
    width: 62%;
    height: 85px;
}

.row2 {
    margin-top: 20px;
}

.qualifications_header, .company_reviews_header {
    font-weight: bold;
    color: var(--user_profile_color);
}

.qualifications_subheader, .company_reviews_subheader {
    font-size: 12px;
    color: var(--user_profile_color);
}

.qualifications_items span {
    font-size: 12px;
    display: inline-block;
    margin: 2px 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #C6C8CA;
    color: var(--background_color);
}

.company_reviews_items {
    display: flex;
    font-size: 12px;
    color: var(--background_color);
    flex-wrap: wrap;
    justify-content: space-between;
}

.company_reviews_items p {
    width: 50%;
}

.review_item {
    position: relative;
    font-size: 10px;
}

.review_item::before {
    content: "“";
    position: absolute;
    font-size: 38px;
    top: -15px;
    left: -15px;
    color: rgb(210, 215, 219);
    transform: translateZ(-1px);
}



.main_footer_separator {
    display: block;
    margin: 20px auto 0px;
    height: 2px;
    width: 100%;
    background-color: #C6C8CA;
}

.after_uploading_footer {
    margin: 20px auto;
    height: 2px;
    width: 100%;
    font-size: 10px;
}


/* *************** Footer Section  *************** */
.footer {
    width: 65%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--user_profile_color);
}

.footer a {
    text-decoration: none;
    color: var(--user_profile_color);
}



/* *************** Hover  *************** */
.bookmark_container:hover svg {
    transform: rotate(180deg);
}
.bookmark_container:hover .user_profile_content {
    visibility: visible;
}
.bookmark_container:hover .user_profile_btn {
    background-color: var(--hover_green_color);
}

.bookmark_container:hover .user_profile_content{
    transform: translateY(3px);
    opacity: 1;
}
.user_profile_content a:hover {
    color: var(--hover_green_color);
    transition: all 300ms linear;
}

.logo_container:hover {
    box-shadow: 1px 1px 40px var(--hover_green_color);
}

.next_page_btn:hover {
    background-color: #cbcbcc;
}

.footer a:hover {
    color: var(--hover_green_color);
}

.job_item:hover {
    background-color: #EFF2F5;
}

.bookmark:hover {
    color: blue;
}